html,
body {
    height: 100%;
    /* padding: 0; */
    margin: 0;
}

.hidden {
    display: none !important;
}

#game-holder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}
#game-canvas {
    /* width: 100%;
    height: 100%; */
    /* border: 2px solid green; */
    box-sizing: border-box;
}
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: limegreen;
    border: 1px solid black;
    z-index: 10;
}
.point.end {
    background-color: red;
}
.point.b {
    background-color: orange;
}
.point.intersect {
    background-color: rgba(0, 0, 255, 0.5);
}
.line {
    position: absolute;
    transform-origin: left center;
    border-top: 1px dashed blue;
}
.text-box {
    margin: 0;
    padding: 1vmin 2vmin;
    background-color: rgba(0, 0, 0, 0.25);
    font-family: "Ubuntu Mono", monospace;
    font-size: 10vmin;
    color: #98fb98;
    text-shadow: -0.025em 0.05em 0.1em rgba(0, 0, 0, 0.5), 0 0 0.2em #98fb98;
}
#score-box {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    border-bottom-right-radius: 3vmin;
}
#timer-box {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    border-bottom-left-radius: 3vmin;
}
#start-screen {
    position: absolute;
    width: 100vmin;
    height: 100vmin;
    background-color: #333355;
    color: white;
    font-family: "Ubuntu Mono", monospace;
    font-size: 5vmin;
    text-align: center;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#name-prompt,
#start-options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 70%; */
    min-width: 20ch;
    font-size: 1.2rem;
    background-color: #00000088;
    backdrop-filter: blur(6px);
    color: white;
    font-family: monospace;
    padding: 1em 2em;
    border-radius: 1em;
    & input[type="checkbox"] {
        width: 1.5em;
        height: 1.5rem;
        accent-color: green;
        vertical-align: middle;
    }
    & label {
        user-select: none;
    }
    & p {
        text-align: center;
        color: lightskyblue;
    }
}
#output {
    background-color: #eee;
    padding: 1em;
    font-family: monospace;
    color: #222;
    border-radius: 1em;
}
#leaderboard,
#all-time-leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    border: 1px solid grey;
    backdrop-filter: blur(5px);
    padding: 1em;
    border-radius: 1em;
    font-family: monospace;
    font-size: calc( 10px + 2vmin);
    color: white;
    text-shadow: 0 0 0.1em limegreen;
    z-index: 1010;
    max-width: 80%;
    width: 30ch;
    & .leaderboard-entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* font-size: 1.2rem; */
        &.dead {
            opacity: 0.55;
        }
        & .ship-icon {
            /* display:inline-block; */
            /* font-size: 1.2em; */
            padding-bottom: 0.2em;
            margin-right: 0.5ch;
        }
        & p {
            /* display: inline-block; */
            /* border: 1px solid yellow; */
            margin: 1vmin 0;
            &:first-child {
                /* border-color: lightblue; */
            }
            &:nth-child(2) {
                flex-grow: 2;
                height: 3px;
                margin: 0 1ch;
            }
        }
    }
}


#name-prompt {
    border: 2px solid white;
    z-index: 1010;
    .ok {
        padding: 0.5em 1em;
        border-radius: 0.5em;
    }
}

#again-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    border: 2px solid green;
    transition: all 0.2s;
    box-shadow: inset -0.25em -0.25em 0.5em -0.25em #33529f;
    &:hover {
        background-color: green;
        color: white;
        border-color: white;
    }
}